{% extends "admin/admin-master.html" %} {% load static %} {% block admin_content %}
<br>
<h3>Approve Resellers</h3>
<table class="table table-bordered" id="request_table">
    <thead>
        <tr>
            <th scope="col">Company Name & ID</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile</th>
            <th scope="col">Bank Details <br> Holder Name <br> Acc No <br>IFSC</th>
            <th scope="col">Request Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for req in userrequests %}
        <tr>
            <td>
                {{ req.companyname }} <br>{{ req.companyregid }}
                <!-- <ul style="list-style-type: none;"></ul>
                <li>{{ req.companyname }}</li>
                <li>{{ req.companyregid }}</li>
                </ul> -->
            </td>
            {% for alluser in alldata %}
            <!--  -->
            {% if alluser.id == req.login_id %}
            <td>{{ alluser.email}}</td>
            {% endif %}
            <!--  -->
            {% endfor %}
            <td>
                {{ req.address }}<br>{{ req.country }}
            </td>
            <td>{{ req.mobile }}</td>
            <td>
                {{ req.bankaccountholder }} <br>{{ req.bankacccountnumber }} <br>{{ req.bankacccountifsc }}</td>
            <!--  -->
            {% for alluser in alldata %} {% if alluser.id == req.login_id %}
            <td>{{ alluser.date_joined }}</td>
            {% endif %} {% endfor %}
            <!--  -->
            {% if req.status == 'inactive' %}
            <td><button onclick="change_status( '{{ req.login_id }}', 'active')" class=" btn btn-link text-success">Approve</button> <button class=" btn btn-link text-danger" onclick="change_status( '{{ req.login_id }}', 'declined')">Decline</button></td>
            {% else %}
            <td>{{ req.status }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <br>
<h3>Reseller Request History</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Reseller Name</th>
            <th scope="col">Address</th>

            <th scope="col">Requested Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Adidas</th>
            <td>Mumbai</td>

            <td>Dec20,2020</td>
            <td>Approved</td>
        </tr>
        <tr>
            <th>Adidas</th>
            <td>Mumbai</td>
            <td>Dec20,2020</td>
            <td>Declined</td>
        </tr>
        <tr>
            <th>Adidas</th>
            <td>Mumbai</td>
            <td>Dec20,2020</td>
            <td>Approved</td>
        </tr>
    </tbody>
</table> -->
<br>
<script src="{% static 'reseller/scripts/jquery-3.5.1.min.js' %}"></script>
<script>
    function change_status(id, stats) {
        console.log(id)
        console.log("test")
        console.log(stats)
        $.ajax({
            url: 'verifyreseller',
            type: 'get',
            data: {
                userid: id,
                status: stats,
            },
            success: function(response) {
                $('tbody').remove();
                reslrdata = response.resellerdata;
                for (i = 0; i < reslrdata.length; i++) {
                    if (reslrdata[i].status == 'inactive') {
                        $('#request_table').append("<tr><td>" + reslrdata[i].companyname + "<br>" + reslrdata[i].companyid + "</td><td>" + reslrdata[i].companyname + "</td><td>" + reslrdata[i].address + "</td><td>" + reslrdata[i].mobile + "</td><td>" + reslrdata[i].bankaccountholder + "<br>" + reslrdata[i].bankacccountnumber + "<br>" + reslrdata[i].bankacccountifsc + "</td><td>" + reslrdata[i].companyname + "</td><td><button class='btn btn-link text-success' onclick= change_status('" + reslrdata[i].login_id + ", \'active\' ')>approve</button><br>  <button class='btn btn-link text-danger' onclick= change_status('" + reslrdata[i].login_id + ", \'declined\' ')>Decline</button></td></tr>")
                    }
                    console.log(reslrdata[i].status);
                }
            }
        })
    }
</script>
{% endblock %}