 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'ecom/css/login-style.css' %}">

    <link rel="stylesheet" href="{% static 'ecom/css/style-home.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Start Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light navigation">
        <div class="mx-2 my-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <img src="{% static '/images/cs_ecom_logo.png' %} " alt=" " class="logo-nav">
        </div>
        <div class="collapse  navbar-collapse" id="navbarSupportedContent">
            <form class="mx-2 my-auto d-inline w-100">
                <div class="input-group">
                    <input type="text" class="form-control border border-right-0" placeholder="Search...">
                    <span class="input-group-append">
                    <button class="btn btn-secondary border border-left-0 searh-btn" type="button">
                        <i class="fa fa-search "></i>
                    </button>
                </span>
                </div>
            </form>
            <ul class="navbar-nav mr-auto ">
                <div class="login-nav">
                    <button onclick="location.href = 'login'" type="button" class="btn">Login</button>
                </div>
                <div class="login-nav">
                    <button onclick="location.href = 'signup'" type="button" class="btn">Sign up</button>
                </div>
            </ul>
        </div>
    </nav>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <nav class=" navbar navbar-expand-lg nav-list rounded-bottom ">
        <ul class="navbar-nav">
            <div class="dropdown drpdown">
                <li class="dropbtn">Electronics </li>
                <div class="dropdown-content drpdown-content">
                    <a href="#" class="btn">Mobile & accessories</a>
                    <a href="#" class="btn">Laptop</a>
                    <a href="#" class="btn">Speaker</a>
                    <a href="#" class="btn">Camera</a>
                    <a href="#" class="btn">Gaming & Accessories</a>
                </div>
            </div>
            <div class="dropdown drpdown">
                <li class="dropbtn">TV & appliances </li>
                <div class="dropdown-content drpdown-content">
                    <li><a href="#" class="btn">Television</a></li>
                    <li><a href="#" class="btn">Refrigerators</a></li>
                    <li><a href="#" class="btn">Washing Machine</a></li>
                    <li><a href="#" class="btn">Kitchen Appliances</a></li>
                </div>
            </div>
            <div class="dropdown drpdown">
                <li class="dropbtn">Sports </li>
                <div class="dropdown-content drpdown-content">
                    <li><a href="#" class="btn">Football</a></li>
                    <li><a href="#" class="btn">Cricket</a></li>
                    <li><a href="#" class="btn">Tennis</a></li>
                </div>
            </div>
            <div class="dropdown drpdown">
                <li class="dropbtn">Fashion </li>
                <div class="dropdown-content drpdown-content">
                    <li><a href="#" class="btn">Mens</a></li>
                    <li><a href="#" class="btn">Womens</a></li>
                    <li><a href="#" class="btn">kids</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <!-- </div> -->


    <!-- Navigation bar ends here -->

    {% block content %} {% endblock %} {% include 'footer.html' %}

</body>

</html>