{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'ecom/css/login-style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="login-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="form-login">
                    <br>
                    <h3 class="login-head">Login</h3><br>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    </br><br>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <br>     
                            <a href="#" class="btn btn-light btn-md">login <i class="fa fa-sign-in"></i></a>
                        </span><br>
                        <span>
                            <br>
                            <a href=""><label for="" class="fgt-password">Forgot password?</label></a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
    </div>


</body>

</html>