{% extends "ecom/cust_master.html" %} {% load static %} {% block content %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'ecom/css/login-style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head> -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-2"></div>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <div class="form-login">
                    <br>
                    <h3 class="login-head">Signup</h3><br>
                    <form action="{% url 'signup' %}" onsubmit="return checkform()" method="POST">
                        {% csrf_token %}
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="">First name</label>
                                <input type="text" class="form-control" name="firstname" placeholder="First name" required>
                            </div>
                            <div class="col">
                                <label for="">Last name</label>
                                <input type="text" class="form-control" name="lastname" placeholder="Last name">
                            </div>
                        </div>

                        <!-- <div style="display: inline;"> -->
                        <div class="form-group ">
                            <label for="" class="">gender: </label>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="male" value="male" name="gender" class="form-check-input" checked>
                                <label for="male" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="female" name="gender" value="female" class="form-check-input">
                                <label for="female" class="form-check-label">Female</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="dob">Date of Birth</label>
                            <input type="date" id="dob" name="dateofbirth" class="form-control" required>
                        </div>
                        <div class="form-group ">
                            <label for="adrs">Address</label>
                            <textarea name="address" id="adrs" cols="30" rows="3" class="form-control" required></textarea>
                        </div>
                        <div class="form-group ">
                            <label for="cntry">Country</label>
                            <select name="country" class="form-control" id="cntry" required>
                                <option  disabled selected value="">Select your Country</option>
                                <option value="India">India</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Mobile (optional)</label>
                            <input type="tel" pattern="[0-9]{10}" id="userMobile" class="form-control input-sm chat-input" name="mobile" placeholder="Enter mobile number" />
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" id="userEmail" class="form-control input-sm chat-input" placeholder="Enter your Email" name="email" required/>
                        </div>
                        <div class="form-group">
                            <h6 id="pswerror" name="err" style="color: brown;"></h6>
                            <label for="">Password</label>
                            <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" required />
                        </div>
                        <div class="form-group">
                            <label for="">Confirm password</label>
                            <input type="password" id="cnfPassword" class="form-control input-sm chat-input" placeholder="Confirm password" required/>
                        </div>
                        <div class="wrapper">

                            <span class="group-btn">
                            <br>     
                            <button type="submit"  class="btn btn-md" style="background-color: #00796b; color: white;">Signup</button>
                        </span><br>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-3 col-md-2 col-sm-2"></div>
        </div>
    </div>
    <script>
        function checkform() {
            document.getElementById("pswerror").innerHTML = ""
            password = document.getElementById("userPassword").value;
            cnfpassword = document.getElementById("cnfPassword").value;
            if (password != cnfpassword) {
                document.getElementById("pswerror").innerHTML = "password mismatch"
                return false;
            }

        }
    </script>

    {% endblock %}