{% load static %}
<footer class="foot text-center text-lg-start" style="background-color: #b2dfdb;">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Registred office address</h5>
                <p>
                    5th Floor, CAFIT Square, Hilite Business Park, Thondayad Bye-Pass Thondayad, Hilite City, Poovangal, Kozhikode, Kerala 673016
                </p>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0" style="text-align: left;">
                <h5 class="text-uppercase">POLICY</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">Return Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Terms of use</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Security</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0" style="text-align: left;">
                <h5 class="text-uppercase mb-0">About</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">Contact Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Cybersquare Wholesale</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0" style="text-align: left;">
                <h5 class="text-uppercase mb-0">Social</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <img src="{% static 'ecom/images/cards.png' %}" class="img-fluid w-25" alt="">
    </div>
</footer>